
@{
    ViewData["Title"] = "Verzoeken2";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3>Binnengekomen verzoeken</h3>
<div class="container">
    <div class="row">
        <div class="col-2">
            <label>Eigenaar</label>
        </div>
        <div class="col-2">
            <label>Dennis van Engelen</label>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label>Naam</label>
        </div>
        <div class="col-2">
            <label>Rex</label>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label>Leeftijd</label>
        </div>
        <div class="col-2">
            <label>2</label>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label>Gewicht</label>
        </div>
        <div class="col-2">
            <label>60 kg</label>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label>Formaat</label>
        </div>
        <div class="col-2">
            Groot
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label>Geslacht</label>
        </div>
        <div class="col-2">
            <label>Reu</label>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label>Speciale eisen</label>
        </div>
        <div class="col-2">
            <label>Geen</label>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label>Score</label>
        </div>
        <div class="col-2">
            <label>9/10</label>
        </div>
    </div>
</div>
